@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* Edited */
body {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a {
  color: gray;
  text-decoration: none;
  font-weight: 505;
}

button {
  padding: 5px 20px;
}

.buttons {
  margin-top: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  gap: 16 px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;

  background-color: #eeeeee;
}
