/* Add CSS Styling */
.odd {
    
    background-color: lightcoral;
}

#two {
    color: blue;
    font-size: 36px;
}

#third {
    font-size: 24px;
}

#fourth {
    font-weight: bold;
    font-size: 24px;
    background-color: lightgreen;
}